
<div class="hold-transition register-page">
  <div class="register-box">
    <div class="register-logo">
      <h2>Thay đổi mật khẩu</h2>
    </div>

    <div class="card">
      <div class="card-body register-card-body">
        <p class="login-box-msg">Nhanh chóng và dễ dàng</p>

        <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
          <div class="input-group mb-3">
            <input type="password" formControlName="oldPassword" class="form-control" placeholder="Mật khẩu cũ">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
            <div class="input-group mb-3">
              <span class="col alert alert-danger" role="alert" *ngIf="(changePasswordForm.controls.oldPassword?.touched || submitted) && changePasswordForm.controls.oldPassword?.errors?.required">Hãy nhập passwword!</span>
              <span class="col alert alert-danger" role="alert" *ngIf="(changePasswordForm.controls.oldPassword?.touched || submitted) && changePasswordForm.controls.oldPassword?.errors?.minlength">Hãy nhập tối thiểu 6 ký tự!</span>
              <span class="col alert alert-danger" role="alert" *ngIf="(changePasswordForm.controls.oldPassword?.touched || submitted) && changePasswordForm.controls.oldPassword?.errors?.maxlength">Hãy nhập tối đa 32 ký tự!</span>
            </div>
          </div> <div class="input-group mb-3">
            <input type="password" formControlName="newPassword" class="form-control" placeholder="Mật khẩu mới">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
            <div class="input-group mb-3">
              <span class="col alert alert-danger" role="alert" *ngIf="(changePasswordForm.controls.newPassword?.touched || submitted) && changePasswordForm.controls.newPassword?.errors?.required">Hãy nhập passwword mới!</span>
              <span class="col alert alert-danger" role="alert" *ngIf="(changePasswordForm.controls.newPassword?.touched || submitted) && changePasswordForm.controls.newPassword?.errors?.minlength">Hãy nhập tối thiểu 6 ký tự!</span>
              <span class="col alert alert-danger" role="alert" *ngIf="(changePasswordForm.controls.newPassword?.touched || submitted) && changePasswordForm.controls.newPassword?.errors?.maxlength">Hãy nhập tối đa 32 ký tự!</span>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" formControlName="confirmNewPassword" class="form-control" placeholder="Nhập lại mật khẩu">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
            <div class="input-group mb-3">
              <span class="col alert alert-danger" role="alert" *ngIf="(changePasswordForm.controls.confirmNewPassword?.touched || submitted) && changePasswordForm.controls.confirmNewPassword?.errors?.required">Hãy nhập lại mật khẩu mới!</span>
              <span class="col alert alert-danger" role="alert" *ngIf="(changePasswordForm.controls.confirmNewPassword?.touched || submitted) && (changePasswordForm.controls.confirmNewPassword.value != changePasswordForm.controls.newPassword.value )">Mật khẩu không trùng khớp!</span>
            </div>
          </div>

          <div class="row">
            <!-- /.col -->
            <div class="col-12">
              <button type="submit" class="btn btn-primary btn-block">Đổi mật khẩu</button>
              <br>
              <br>
              <a routerLink="/login"> Bạn đã có tài khoản? Đăng nhập ngay!</a>
            </div>
            <!-- /.col -->
          </div>
        </form>

      </div>
      <!-- /.form-box -->
    </div><!-- /.card -->
  </div>
</div>
<app-chat></app-chat>
